<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Automation Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.naveen.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Checkout Tests">
        <classes>
            <class name="com.naveen.tests.CheckoutTest"/>
        </classes>
    </test>
    <test name="Smoke Test">
        <classes>
            <class name="com.naveen.tests.SmokeTest"/>
        </classes>
    </test>
</suite>